*{box-sizing:border-box}
        header{
            display: block;
            height: 300px;
            }
        h1{
            color: #0f0201;
            font-weight: bold;
            text-align: center;
        }

        h2{
            color: #120f0e;
            font-weight: bold;
            text-align: center;
            font-size: 18;
            }

        body{
            background-color: #19f720;
            }

        a{
            color: #0c0606;
            font-weight: bold;
            text-align: center;
            font-size: 18;
            }
        .img_controller{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            width: 250px;
        }    

            
