*{box-sizing:border-box}
        header{
            display: block;
            height: 300px;
            }
        h1{
            color: #6A2E2A;
            font-weight: bold;
            text-align: center;
        }

        h2{
            color: #6A2E2A;
            font-weight: bold;
            text-align: center;
            font-size: 18;
            }

        body{
            background-color: #0cf008;
            }

        a{
            color: #6A2E2A;
            font-weight: bold;
            text-align: center;
            font-size: 18;
            }
