{% extends 'games/base.html' %}
  {% load video_game_extras %}

{% block content %}


<article>
  <header>
		<h1>Recommended Video Games</h1>
  </header>

  {% if VideoGames %}
	  <ul>
		 {% for game in VideoGames %}

			<!-- safe filter on for raw HTML stored in database -->
			<li><a href="{{ game.YouTubeTrailerLink | safe }}">{{ game.VideoGameName | safe }}</a>
				<p>{{ game.Description | safe }}</p>
				<p>{{ game.AgeRating_ID.AgeRating | safe }}</p>
			</li>
			{% endfor %}

	  </ul>
	  {% else %}
	  <p>No games are available to view.</p>
	  {% endif %}

  <p>page count: {{ VideoGames.count }}</p>
</article>

{% endblock content %}}