{% extends 'games/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<article>
    <header>
      <div class="row">
        <div class="col-sm-11">
          <h2>Welcome to the Video Game Recommender</h2>
        </div>
        <div class="col-sm-7">
            &nbsp;<a class="btn btn-outline-primary" href="{% url 'home' %}">Refresh Quiz</a>
        </div>
      <p>Answer the following questions and then click "Submit".</p>
      </div>
    </header>

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- adds a submit button -->
          <button type="submit" class="btn btn-outline-primary" >Submit</button>
            &nbsp;<button type="reset" value="reset" class="btn btn-outline-secondary">Clear</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
{% endblock content %}