{% extends 'games/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<article>
	<header>
	  <div class="row">
	    <div class="col-sm-11">
	      <h2>Game Recommendation Results</h2>
	    </div>
	    <div class="col-sm-7">
	    	&nbsp;<a class="btn btn-outline-primary" href="{% url 'questions' %}">New Search</a>
      		
    	</div>
      Select one or more filters relevant to your search and then click "submit".
	  </div>
	</header>

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- adds a submit button -->
          <button type="submit" class="btn btn-outline-primary" >Submit</button>
    		&nbsp;<button type="reset" value="reset" class="btn btn-outline-secondary">Clear</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6">

      {% for games in object_list %}
        <h4> <a href="{% url 'game' VideoGames.pk %}">{{ VideoGames.VideoGameName | safe }}</a></h4>
        {% if VideoGames.NumberofPlayers %}
          {{ VideoGames.NumberofPlayers | safe }}
        {% endif %}  

        {% if VideoGames.VideoGameName %}
          {{ VideoGames.VideoGameName | safe }}
        {% endif %} 

        {% if VideoGames.Description %}  
          {{ VideoGames.Description | safe }}
        {% endif %}         

        {% if VideoGames.YouTubeTrailerLink %}
          {{ VideoGames.YouTubeTrailerLink | safe }}
        {% endif %}        

        {% if VideoGames.GenreCategory %}
          {{ VideoGames.GenreCategory | safe }}
        {% endif %} 

        {% if VideoGames.AgeRating %}
          {{ VideoGames.AgeRating | safe }}
        {% endif %} 

        {% if VideoGames.PopularityRating %}
          {{ VideoGames.PopularityRating | safe }}
        {% endif %} 

      {% endfor %}
    </div>
  </div>
{% endblock content %}