<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ashley Schoonover">
    <meta name="description" content="Video Game Recommender - Movies ">
    <meta name="keywords" content="video game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="questions_style.css">
    <style>

    </style>
</head>
<body>
    <br>
      <table>
    
<!-- header row 1 -->
  <tr>
    <th colspan="8" class="th_title">Start Here: What's your favorite ice cream flavor?</th>   
  </tr>

<!-- data row 2 -->
   <tr>
      <td class="td_chocolate"><a href="vgr_self_or_gift.html">Chocolate</a></td>
      <td class="td_vanilla"> Vanilla </td>
      <td class="td_strawberry"><a href="vgr_self_or_gift.html">Strawberry</a></td>
   </tr> 
    
<!-- data row 3 -->
    <tr>
      <td class="td_bluemoon"> Blue Moon </td>
      <td class="td_superman"><a href="vgr_self_or_gift.html">Superman</a></td>
      <td class="td_mint"> Mint Chocolate Chip </td>
    </tr>
  </table>



</body>
</html>   
