<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ashley Schoonover">
    <meta name="description" content="Video Game Recommender - Who's it for? ">
    <meta name="keywords" content="video game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's it for?</title>
    <link rel="stylesheet" href="questions_style.css">
    <style>

    </style>
</head>
<body>

    <header> 
            <h1> Will this game be for you or a gift for someone else? </h1> 
            <h2><a href="vgr_friends_or_solo.html">For me!</a></h2> 
            <br>
            <h2><a href="vgr_season.html">For someone else!</a></h2> 
    </header>   

    <br>



</body>
</html>   
