<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ashley Schoonover">
    <meta name="description" content="Video Game Recommender - What console? ">
    <meta name="keywords" content="video game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What console?</title>
    <link rel="stylesheet" href="questions_style.css">
    <style>

    </style>
</head>
<body>
  <br>
    
<!-- header row 1 -->
  <tr>
    <th colspan="8" class="th_title">How old are the players?</th>   
  </tr>

<!-- data row 2 -->
   <tr>
      <td class="td_chocolate"><a href="vgr_movies_under10.html">Under 10 years old</a></td>
      <td class="td_vanilla"><a href="vgr_movies_teen.html">11 to 17 years old </a></td>
      <td class="td_strawberry"><a href="vgr_movies_adult.html">18 to 30 years old</a></td>

   </tr> 
    
<!-- data row 3 -->
    <tr>
      <td class="td_bluemoon"><a href="vgr_movies_adult.html">36 to 45 years old</a></td>
      <td class="td_superman"><a href="vgr_movies_adult.html">45 to 59 years old </a></td>
      <td class="td_mint"><a href="vgr_movies_elder.html">Over 60 years old </td>
    </tr>
  </table>

</body>
</html>   
