<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ashley Schoonover">
    <meta name="description" content="Video Game Recommender - time of day? ">
    <meta name="keywords" content="video game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time of day?</title>
    <link rel="stylesheet" href="questions_style.css">
    <style>

    </style>
</head>
<body>

    <header> 
            <h1> What is your favorite time of day? </h1> 
            <h2><a href="vgr_age.html">Early Bird</a></h2> 
            <br>
            <h2><a href="vgr_season.html">Night Owl</a></h2> 
    </header>   

    <br>



</body>
</html>   
