<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ashley Schoonover">
    <meta name="description" content="Video Game Recommender - Who's playing? ">
    <meta name="keywords" content="video game">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who's playing?</title>
    <link rel="stylesheet" href="questions_style.css">
    <style>

    </style>
</head>
<body>

    <header> 
            <h1> Will this game be played with friends or solo? </h1> 
            <h2><a href="vgr_numofplayers.html">Playing with friends!</a></h2> 
            <br>
            <h2><a href="vgr_season.html">Playing solo!</a></h2> 
    </header>   

    <br>



</body>
</html>   
